html {
	background-color:#FFF;
}

p {
	margin-bottom:1em;
}

td {
	padding:5px;
}
/* header */
header{
	background-color:transparent;
	color:#000;
}

#header-region {
		border-top:1px solid #000;
		padding:10px;
}

#header-region h2 {
	font-size:1.9em;
	line-height:1.6em;
}

header a:link, header a:visited, header a:active {
	color:#006699;
}

/* navigation */
nav {
	border-bottom:1px solid #000;
	padding:10px;
}

/* section */
section {
	margin:20px 0 0 0;
}

/* article */
article {
	background-color:#EEE;
	margin:0 0 20px 0;
	padding:10px;
}

article h2 {
	font-size:2em;
	margin-bottom:5px;
}

article h2 a:link, article h2 a:visited, article h2 a:active {
	text-decoration:none;
}

/* aside */
aside {
	margin:20px 0 0 0;
}

aside .block {
	background-color:#EEE;
	margin:0 0 20px 0;
}

aside .block h2 {
	background-color:#DDD;
	padding:5px 10px;
}

aside .block .content {
	padding:5px;
}